aniso8601==4.0.1
argh==0.26.2
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pathtools==0.1.2
python-dotenv==0.10.1
pytz==2018.7
PyYAML==3.13
simplejson==3.16.0
six==1.12.0
Werkzeug==0.14.1
